body {
    margin: 0;
    padding: 0;
    background-image: url("./tom.jpg");
    background-repeat: no-repeat;
    background-color: red;
    background-position: center;
    background-attachment: fixed;
}
